{{#if sections}}

<h1>{{title}}</h1>
<br>
<pre>
	{{examples}}
</pre>

<h3>Overview</h3>
<p>{{overview}}</p>

<hr>

	{{#each sections}}
		<h3>{{title}}</h3>
		
		<table class="table">
			<tr>
				{{#each columns}}
					<th>{{name}}</th>
				{{/each}}
			</tr>
			{{#each rows}}
				<tr>
					{{#if col1}}
					<td>{{col1}}</td>
					{{/if}}
					{{#if col2}}
					<td>{{col2}}</td>
					{{/if}}
					{{#if col3}}
					<td>{{{col3}}}</td>
					{{/if}}
					{{#if col4}}
					<td>{{col4}}</td>
					{{/if}}
				</tr>
			{{/each}}
		</table>
	{{/each}}

{{else}}

<h1>API documentation for Jaggery.js</h1>


<div class="row-fluid">
	<div class="span12">
		<p>
			So you want to write some code using Jaggery? Remember we are just at 0.9.0-ALPHA-3, We have provided all the basic useful APIs, so you can build cooler apps using this deliciously new framework.
		</p>

		<p>
			So give it a run and let us know how it goes by mailing us here
		</p>
	</div>
</div>

<br>

<div class="row-fluid">

	<div class="span4 text-center feature-block">
		<a href="#"> <i class="fa fa-bug fa-4x"></i> <h4>Report A Bug</h4> </a>
	</div>

	<div class="span4 text-center feature-block">
		<a href="#"><i class="fa fa-file-text fa-4x"></i> <h4>Download Source Code</h4></a>
	</div>

	<div class="span4 text-center feature-block">
		<a href="#"><i class="fa fa-envelope fa-4x"></i> <h4>Join Our Mailing List</h4></a>
	</div>

</div>

{{/if}}
