<div class="span3 sidebar">

	{{#each links}}
	<h4>{{category}}</h4>

	<ul>
		{{#if subcategories}}
		
			{{#each subcategories}}
			<li>
				<h5>{{category}}</h5>
				<ul>
					{{#each apis}}
					<li>
						<a href="?api={{api}}"><i class="fa fa-cog"></i> {{label}}</a>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}
		
		{{else}}

			{{#each apis}}
			<li>
				<a href="?api={{api}}"><i class="fa fa-cog"></i> {{label}}</a>
			</li>
			{{/each}}

		{{/if}}

	</ul>
	{{/each}}
</div>
